*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body{
  background-color: black;
} */
.inputs{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;

}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  width: 450px;
  height: 500px;
  background-color: rgb(15, 15, 53);
  border-radius: 20px;
}

input{
  margin: 10px;
  height: 40px;
  border: none;
  gap: 20px;
  border-radius: 10px;
  background: rgb(56, 51, 51);
  
  
}

input::placeholder {
  padding-left: 10px;

}

input:hover{
  background-color: yellow;
}

label{
  color: white;
  margin-left: 15px;
}

.title{
  display: flex;
  justify-content: center;
  color:white;
  margin: 20px;

}

.title h1{
  justify-content: center;
  padding-top: 20px;
  font-family: 'Roboto' , sans-serif;
 
}

button{
 
  width: 240px;
  height:40px ;
  border-radius: 10px;
  border: none;
  background-color: rgb(80, 80, 228);
  color: #FFFF;
  font-family: 'Roboto' , sans-serif;
  

}

/* button:hover {
  background-color: black;
} */
button:active{
  background-color: blue;
  
}

.submit{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.card {
  width: 20rem;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill,20rem );
}